*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}
header{
	height:120px;
	width:100%;
	position: sticky;
	top: 0px;
	display: flex;
	background: white;
	justify-content: center;
/*	border: 1px solid black;*/
}
.menu{
	height: 120px;
	width: 80%;
	display: flex;
/*	border: 1px solid black;*/
}
.menu .logo{
	height: 120px;
	width: 12%;
/*	border: 1px solid black;*/
}
.logo img{
	height: 110px;
	width: 100%;
	object-fit: fill;
}
nav{
/*	height: 120px;*/
	width: 50%;
	display: flex;
	margin-left: 20px;
	align-items: center;
/*	border: 1px solid black;*/
}
nav ul li{
	list-style: none;
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
	padding: 5px;
}

.btn{
	height: 40px;
	width: 140px;
	font-size: 25px;
	padding: 5px;
	margin-top: 40px;
	text-align: center;
	background: transparent;
/*	border: 1px solid black;*/
}
.login{
	height: 120px;
	width: 20%;
	display: flex;
	justify-content: center;
/*	border: 1px solid black;*/
}
.login .fa{
	font-size:30px;
	padding: 5px;
	line-height:100px;
}
.bh{
	height: 100vh;
	width: 100%;
	margin-top: 50px;
	position: relative;
/*	border: 1px solid black;*/
}
.bh img{
	height: 100vh;
	width: 80%;
	margin-left:50px;
	object-fit: fill;
}
.content{
	height:300px;
	width:600px;
	position: absolute;
	top:35%;
	left: 55%;
/*	border: 1px solid black;*/
}
.content h1{
	line-height: 55px;
	font-size: 50px;
	font-family: arial;
	margin-top:20px;
}
.content h3{
	font-size: 25px;
	line-height: 30px;
	font-family: arial;
	margin-top:20px;
}
.content button{
	font-family: arial;
	margin-top:20px;
	font-size:19px;
	width:170px;
	padding: 10px;
	background: transparent;
	text-align: center;
}
.content button:hover{
	background: gray;
}
.shop{
			height:150vh;
			width: 100%;
/*			border: 1px solid yellowgreen;*/
		}
		.s1{
			height:150px;
			width: 100%;
			font-size:45px;
			text-align: center;
			margin-top: 20px;
			line-height: 150px;
/*			border: 1px solid orangered;*/
		}
		.row{
			height:800px;
			width: 100%;
/*			border: 1px solid orange;*/
			display: flex;
			justify-content: center;
			justify-content: space-evenly;
			align-items: center;
		}
		.simg img{
			height:650px;
			width: 450px;
/*			border-radius: 10px;*/
/*			border: 1px solid black;*/
		}
		.scon{
/*			border: 1px solid black;*/
			margin-top: -50px;
		}
		.scon p{
			height:250px;
			width: 400px;
			font-size:25px;
			margin-top:35px;
/*			padding-left:0px;*/
			line-height: 28px;
			text-align: center;
			margin-left:60px;
/*			border: 1px solid yellowgreen;*/
		}
		.scon h1{
			width: 450px;
			margin-left:60px;
			font-size:30px;
		}
		.scon button{
			font-size: 20px;
			background: transparent;
			margin-left: 200px;
			padding: 10px;
		}
		.scon button:hover{
			background: gray;
		}
		.clean{
			height:150vh;
			width: 100%;
/*			border: 1px solid yellowgreen;*/
		}
		.row{
			height:800px;
			width: 100%;
/*			border: 1px solid orange;*/
			display: flex;
			justify-content: center;
			justify-content: space-evenly;
			align-items: center;
		}
		.cimg img{
			height:650px;
			width: 450px;
			box-shadow:0px 0px 0px 50px burlywood ;
/*			border-radius: 10px;*/
/*			border: 1px solid black;*/
		}
		.ccon{
/*			border: 1px solid black;*/
			margin-top: -50px;
		}
		.ccon p{
			height:250px;
			width: 400px;
			font-size:25px;
			margin-top:35px;
/*			padding-left:0px;*/
			line-height: 28px;
			text-align: center;
/*			border: 1px solid yellowgreen;*/
		}
		.ccon h1{
			width: 450px;
			font-size:30px;
		}
		.ccon button{
			font-size: 20px;
			background: transparent;
			margin-left: 150px;
			padding: 10px;
		}
		.ccon button:hover{
			background: gray;
		}
		.most{
			height:120vh;
			width: 100%;
			background: lightgray;
/*			border: 1px solid black;*/
		}
		.m1{
			height:120px;
			width:100%;
			font-size:45px;
			text-align: center;
			padding-top: 20px;
/*			border: 1px solid orangered;*/
		}
		.most1{
			height: 100vh;
			width: 100%;
			display: flex;
			justify-content: space-around;
/*			border: 1px solid black;*/
		}

		.mcon button{
			width: 350px;
			font-size: 20px;
			padding: 5px;
			text-align: center;
			margin-top: 10px;
			background: transparent;
		}
		.mcon button:hover{
			background:gray;
		}
		.mcon h3{
			margin-top: 10px;
		}
		.simple{
			height: 60vh;
			width: 100%;
			display: flex;
			justify-content: center;
/*			border: 1px solid black;*/
		}
		.si1{
			height:50vh;
			width: 50%;
			text-align: center;
			margin-top:50px;
/*			border: 1px solid black;*/
		}
		.si1 h1{
			font-size: 40px;
			font-family: arial;
			line-height:100px;
		}
		.si1 p{
			font-size: 22px;
			font-family: arial;
			line-height: 30px;
		}
		.si1 button{
			font-size: 20px;
			font-family: arial;
			padding: 5px;
			width: 150px;
			text-align: center;
			margin-top:30px;
		}
		.si1 button:hover{
			background: gray;
		}
		 .nat{
		 	height: 130vh;
		 	width: 100%;
		 	margin-top: 50px;
/*		 	border: 1px solid black;*/
		 }
		  .img1{
		  	display: flex;
		  	justify-content: center;
		 }
		.img2{
			display: flex;
			justify-content: center;
			margin-top: -30%;	  		 	
		}
		.blog{
			height:130vh;
			width: 100%;
			background: lightgray;
/*			border: 1px solid black;*/
		}
		.b1{
			height:120px;
			width:100%;
			font-size:45px;
			text-align: center;
			padding-top: 20px;
/*			border: 1px solid orangered;*/
		}
		.blog1{
			height: 100vh;
			width: 100%;
			display: flex;
			justify-content:space-around;
/*			border: 1px solid black;*/
		}
		.bcon p{
			height:150px;
			width:300px;
			font-size: 20px;
			line-height: 22px;
			margin-top: 20px;
/*			border: 1px solid black;*/
		}
		.bcon h3{
			font-size:25px;
			margin-top: 10px;
			line-height: 40px;
		}
		.learn{
			width: 200px;
			text-align: center;
			font-size: 20px;
			padding: 5px;
			margin-left:43%;
		}
		.learn:hover{
			background: gray;
		}
		.help{
			height:80vh;
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 80px;
/*			border: 1px solid black;*/
		}
		.h1{
			height:70vh;
			width: 80%;
			display: flex;
			justify-content: center;
/*			border: 1px solid black;*/
		}
		.hcon{
			height:65vh;
			flex-basis:30%;
			margin-top: 60px;
/*			border: 1px solid black;*/
		}
		.hcon .hbtn{
			font-size: 30px;
			padding: 5px;
			text-align: center;
			background: transparent;
			width: 150px;
			margin-top: 90px;
			margin-left:80px;
		}
		.hcon ul li{
			list-style: none;
			margin-top: 20px;
			text-align: center;
		}
		.hcon h2{
			margin-top: 20px;
			text-align: center;
		}
		.hcon ul li .fa {
			padding-left:20px;
			font-size: 25px;
		}
		.hcon ul li .ins {
			color: orangered;
		}
		.hcon ul li .fb {
			color: blue;
		}
		.hcon ul li .pin {
			color: deeppink;
		}
		.ft{
			height: 50px;
			width: 100%;
			background: gray;
/*			border: 1px solid black;*/
		}
		.ft .fc{
			font-size: 20px;
			text-align: center;
			line-height: 50px;
		}
