
*{
	margin: 0px;
	padding: 0px;
	box-sizing: 0;
}

		 header{
/*			border: 2px solid black;*/
			height:120px;
			width: 100%;
			float: left;
			position: sticky;
			top: 0;
			background-color:lightpink;
		}
		
		.logo{
			height:50px;
			width:15%;
			float: left;
			font-size: 50px;
			font-family:tahoma;
			margin-top:30px;
/*			border: 1px solid black;*/
		}

		nav{
			height: inherit;
			width: 68%;
			float: left;
/*			border: 1px solid red;*/
			
		}
		ul li{
			font-size: 20px;
			display: inline-block;
			margin-top: 40px;
			margin-left:80px;
			line-height: 60px;
			font-weight: bold;
/*			border: 1px solid yellow;*/
		}
		font i{
			margin-top: 40px;
			padding: 10px;
		}

		img{

			height: 100vh;
			width: 100%;
			background-size: cover;
		}
			.content{
			width:inherit;
			position: absolute;
			top:25%;
			margin-left:90px;
			color: black;
		}
		.content h1{
			font-size: 75px;
			margin-top: 160px;
		}
		 .content p{
			margin: 20px auto;
			font-weight:bold;
			font-size: 28px;
			margin-left:50px;
			line-height: 0px;
		}
		 .content button {
			width: 200px;
			height: 50px;
			padding: 15px;
			text-align: center;
			margin: 20px 10px;
			border-radius: 25px;
			font-weight: bold;
			border: 2px solid black;
			background: transparent;
			font-size: 20px;
			margin-left: 110px;
			transition: 2s;
		}
		.content button:hover{
			background: lightpink;
		}
.heading{
	margin: 10px;
	padding: 20px;
	font-size: 40px;
	text-align: center;
}
.row{
	height: 80vh;
	width: 100%;
/*	border: 1px solid black;*/
	display: flex;
	justify-content:space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.photo{
	height:400px;
	flex-basis:40%;
/*	border: 1px solid black;*/
}
.photo img{
	height:400px;
	width:550px;
	object-fit: fill;
	border-radius: 10px;
}
.photoabout{
	height:400px;
	flex-basis:40%;
	margin-left: -50px;
/*	border: 1px solid black;*/
}
.photoabout h1{
	font-size: 30px;
	line-height: 90px;
}
.photoabout p{
	font-size: 20px;
	line-height: 23px;
}
.perabtn{
	margin-left: 0px;
	line-height: 10px;
	background: black;
	color: white;

}
.iconsmenu{
	display: flex;
	height: 200px;
	width: 100%;
	justify-content: center;
	justify-content: space-evenly;
}
 .icon{
	height:90px;
	width: 180px;
	margin: 10px;
	padding: 10px;

	box-shadow: 5px 5px 5px 5px black;
/*	border: 1px solid black;*/
	
}
.icon img{
	height: 50px;
	width: 50px;
}
.products{
	margin-bottom:55px;
	font-size: 40px;
	text-align: center;
/*	border: 1px solid black;*/
}
.proitem{
	height: 100vh;
	width: 100%;
/*	border: 1px solid black;*/
}
.main{
	height: 80vh;
	width: 100%;
/*	border: 1px solid black;*/
	display: flex;
	justify-content:space-evenly;
	flex-wrap: wrap;
}
.name{
	height: 250px;
	flex-basis:26%;
/*	border: 1px solid black;*/
}
.name img{

	height:200px;
	width: 300px;
	object-fit: fill;
	border-radius: 10px;
/*	border: 1px solid black;*/
}
.name h3,h4{
	margin-left: 100px;
}
.review{
	height: 50vh;
	width: 100%;
/*	border: 1px solid black;*/
}
.reviewhead{
	margin-bottom:55px;
	font-size: 40px;
	text-align: center;
	word-spacing:15px;
	/*	border: 1px solid black;*/
}
.reviewbox{
	height: inherit;
	width: inherit;
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
/*	border: 1px solid black;*/
}
.rb1{
	height: 150px;
	width: 320px;
	font-size: 20px;
	line-height: 25px;
	box-shadow: 5px 5px 5px 5px black;
/*	border: 1px solid black;*/
}
.rb1 .fa{
	color:orange;
}
.ct{
			height: 100px ;
			width: 100%;
			display: flex;
			font-size: 20px;
			justify-content: center;
			align-items: center;
/*			border: 1px solid black;*/
		}
		.contact{
			height: 80vh;
			width: 100%;
			display: flex;
/*			border: 1px solid black;*/
		}
		.ct1{
			height: inherit;
			width: 80%;
			object-fit: cover;
		}
		.ct1 img{
			height: inherit;
			width: inherit;
			margin-left:50px;
/*			border: 1px solid black;*/
		}
		.form{
			height:50vh;
			width: 600px;
			margin-left: 200px;
			margin-top: 60px;
			float: right;
			padding-left: 45px;
			box-shadow: 5px 5px 5px 5px lightgray;	
/*			border: 1px solid black;*/
		}
		.form label{
			font-size: 3vmin;
			font-weight: bold;
			line-height: 45px;
		}
		.submit{
			width: 80px;
			padding:5px;
			border-color: black;
		}


		.ft{
			height: 320px;
			width: 100%;
/*			border: 1px solid black;*/
		}
		.ft1{
			display: flex;
			justify-content: center;
			margin-top: 25px;
		}
		.b1{
			height: 300px;
			width: 300px;
/*			border: 1px solid black;*/
		}
		.b1 h2{
			text-align: center;
			font-size: 25px;
		}
		.b1 li{
/*			margin-left: 70px;*/
			text-align: center;
			margin-top: 20px;
			list-style: none;
			font-size: 19px;
		}
	.foter{
		font-size: 25px;
		margin-left: 400px;
	
	}

		